<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/css/account.css">

  <title></title>
</head>

<body>
  <header>
    <h1>FLIP FLOP</h1>
    <span>
      <a href="/account">PROFILE </a>
    </span>
    <span>
      <a href="/newsfeed/<%=userData.user_id%>">/ FEED </a>
    </span>
    <span>
      <a href="/logout">/ LOG OUT</a>
    </span>

  </header>



  <section id='flex-container'>
    <section>
      <p>
        <% userNames.forEach(username => { %>
        <% if(username.user_id == individualPicture[0].id_of_img_poster) { %>
        <a href="/friend/<%= username.user_id %>">
          <%= username.first_name %>
        </a>
        <% } %>
        <% }) %>
      </p>
      <span data-id='<%= individualPicture[0].id_of_img_poster %>' id="friendReguest">Friend Request</span>
      <img src="<%= individualPicture[0].img %>" alt="">
    </section>
    <p>
      <span><%= individualPicture[0].img_likes %></span>
      <span data-id="<%= individualPicture[0].img_post_id %>" class="heart">❤️</span>
      <span>
        <% for(let j = 0; j < commentCount.length; j++) {%>
        <% if(commentCount[j].image_commented_on_id == individualPicture[0].img_post_id) { %>
        <%= commentCount[j].count %> 💬
        <% } %>
        <% } %>
      </span>
    </p>
    <p><%= individualPicture[0].description %></p>
  </section>
  <section>
    <form action="/comment" method="post">
      <input type="text" name="comment" placeholder="Comment">
      <button type="submit">Comment</button>
    </form>

  </section>

  <section>

    <ul>
      <% for(let i = individualPicture.length - 1; i >= 0; i--) {%>
      <li>
        <p>
          <% for(let j = 0; j < userNames.length; j++) { %>
          <% if(userNames[j].user_id == individualPicture[i].commenter_user_id) { %>
          <%= userNames[j].first_name %>
          <% } %>
          <% } %>


        </p>
        <span><%= individualPicture[i].comment %></span>
        <span>
          <a href="/replies/<%= individualPicture[i].comments_id %>">REPLY</a>
        </span>
      </li>
      <% } %>
    </ul>
  </section>

  <script type="text/javascript" src="../public/newsFeed.js"></script>
  <script type="text/javascript" src="../public/individualPicture.js"></script>
</body>

</html>