<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/css/account.css">

  <title>FLIP FLOP</title>
</head>

<body>
  <header>
    <h1>FLIP FLOP</h1>
    <span>
      <a href="/account">PROFILE </a>
    </span>
    <span>
      <a href="/newsfeed/<%=userData.user_id%>">/ FEED </a>
    </span>
    <span>
      <a href="/logout">/ LOG OUT</a>
    </span>
    <h2>WELCOME TO THE NEWS FEED: <%= userData.email %></h2>
  </header>

  <section id='flex-container'>

  </section>
  <ul id='images'>
    <li>
      <% for(let i = 0; i < newsFeed.length; i++) {  %>
      <p>
        <a href="/friend/<%= newsFeed[i].user_id %>">
          <%= newsFeed[i].first_name %>
        </a>
      </p>
      <a href="/individualPicture/<%= newsFeed[i].img_post_id %>">
        <img src="../<%= newsFeed[i].img %>" alt="">
      </a>

      <p><%= newsFeed[i].description %></p>

      <span><%= newsFeed[i].img_likes %></span>
      <span data-id="<%= newsFeed[i].img_post_id %>" class="heart">❤️</span>
      <a href="/individualPicture/<%= newsFeed[i].img_post_id %>">
        <% for(let j = 0; j < commentCount.length; j++) {%>
        <% if(commentCount[j].image_commented_on_id == newsFeed[i].img_post_id) { %>
        <%= commentCount[j].count %> 💬
        <% } %>
        <% } %>
      </a>
      <% } %>

    </li>
  </ul>



  <script type="text/javascript" src="../public/newsFeed.js"></script>

</body>

</html>